html
  head
    title 404-Page not Found
    link(href="https://fonts.googleapis.com/css?family=Lato:900|Roboto" rel="stylesheet")
  body(style="background:#f7f7f7;text-align: center")
    span.page_title(style={
          "font-family": 'Lato',
            "font-weight": 700,
            "font-size": "45px",
            "color": "#38424e",
            "margin-top": "30%"
    }) 404 Page Not Found 
    br
    img(src='images/404.png' style={
      position: "fixed",
      left: "50%",
      top: "50%",
      transform: "translate(-50%,-50%)",
      "max-width": "100%"
      })
