<html>
  <head>
    <title>GeekRank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js">
    </script>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/custom.css" type="text/css"/>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:900|Roboto"
      rel="stylesheet"
    />
    <style>
      body {
        background: #f3f7f7;
        /* text-align: center; */
      }
      
      

      @keyframes blinkingText {
        0% {
          color: #0275d8;
        }
        49% {
          color: transparent;
        }
        50% {
          color: transparent;
        }
        99% {
          color: transparent;
        }
        100% {
          color: #0275d8;
        }
      }
      .motivation_one{
        font-family: 'Roboto';
        font-size: 25px;
        color:dimgray;
        position: relative;
        top:40px;
        left:-45px;
      }

      .motivation_two{
        font-family: 'Lato';
        font-size: 45px;
        color: #38424e;
        margin-top: 0%;
        padding-top: 0%;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="row main-container d-flex align-items-center">

            <div class="col-6" style=text-align:center;top:15%>
                <p class="page_title">GeekRank</p>
                <span class="blinking_cursor">|</span>
                </br>
                <!-- <span class="motivation_one">Become a better</span>
                </br>
                <span class="motivation_two">Programmer</span> -->
            </div>
            <div class="col-6">
                
                <div class="col-12 login-signup-container p-0">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item text-center" style="width: 50%;">
                            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
                        </li>
                        <li class="nav-item text-center" style="width: 50%;">
                            <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Signup</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active p-4" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form>
                                <div class="form-group">
                                    <label for="loginEmail">Staff Id</label>
                                    <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="Enter Staff Id">
                                </div>
                                <div class="form-group">
                                    <label for"loginPassword">Password</label>
                                    <input type="password" class="form-control" id="loginPassword" aria-describedby="passwordHelp" placeholder="Password">
                                </div>
    
                                <button class="btn btn-outline-primary float-right">Login</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <div class="tab-pane fade p-4" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                            <form>
                                <div class="form-group">
                                    <label for="signupEmail">Email address</label>
                                    <input type="email" class="form-control" id="signupEmail" placeholder="Enter Email"/>
                                </div>
                                <div class="form-group">
                                        <label for="signupUserId">Staff Id</label>
                                        <input type="text" class="form-control" id="signupUserId" placeholder="Enter Staff Id"/>
                                </div>
                                <div class="form-group">
                                        <label for="signupPassword">Password</label>
                                        <input type="password" class="form-control" id="signupPassword" placeholder="Enter Password"/>
                                </div>
                                <div class="form-group">
                                        <label for="signupCPassword">Confirm Password</label>
                                        <input type="password" class="form-control" id="signupCPassword" placeholder="Confirm Password"/>
                                </div>    
                                <button class="btn btn-outline-primary float-right">Signup</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>          
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
