@keyframes introText {
    from {
        width: 0;
    }
}

@keyframes blinkingText {
    0% {
        color: #404E99;
    }

    49% {
        color: transparent;
    }

    50% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: #404E99;
    }
}

.main-container {
    min-height: 100vh;
}

.page_title {
    font-family: "Lato", sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #38424e;
    display: inline-block;
    text-align: center;
    width: 50%;
    animation: introText 1.5s steps(45, end);
    /* , blink-caret .75s step-end infinite; */
    overflow: hidden;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 2px;
    /* Adjust as needed */
    /* margin-top: 55px; */
}

.blinking_cursor {
    animation: blinkingText 0.8s infinite;
    font-family: "Lato", sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin: 0 auto;
    display: inline-block;
    /* margin-top: 55px; */
    overflow: hidden;

}

.login-signup-container {
    box-shadow: 6px 12px 25px rgba(0, 0, 0, 0.4);
}

.nav-item {
    border: 0px;
    width: 40%;
}

.nav-tabs,
.nav-tabs .nav-link {
    border: 0px;
}

.nav-tabs .nav-link {
    padding: 15px 20px;
    font-weight: 700;
    font-size: 1.2em;
    color: #999;
}

.tab-content {
    background: #fff;
    /*box-shadow: 6px 12px 25px rgba(0,0,0,0.4);*/
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.navbar-title {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #404E99;
    display: inline-block;
    text-align: center;
    width: 100%;
    /* animation: introText 1.5s steps(45, end); */
    /* , blink-caret .75s step-end infinite; */
    overflow: hidden;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 2px;
}

.navbar-cursor {
    animation: blinkingText 0.8s infinite;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}

.custom-style:hover {
    box-shadow: 0 0.4px 15px rgba(0, 0, 0, 0.25);
    border-color: transparent
}

.custom-button:hover {
    color: #fff !important;
    background-color: #404E99;
}

.custom-button {
    color: #404E99;
    font-family: "Lato";
    border-color: #404E99
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.motivation_one {
    font-family: 'Roboto';
    font-size: 25px;
    color: dimgray;
    position: relative;
    top: 40px;
    left: -45px;
}

.motivation_two {
    font-family: 'Lato';
    font-size: 45px;
    color: #38424e;
    margin-top: 0%;
    padding-top: 0%;
}

#dashboardPage {
    min-height: 75rem;
    padding-top: 4.5rem;
    background: #f9f9f9;
}

#loginPage {
    background: #f9f9f9;

}
